/* ERROR MANAGEMENT */
.error {
    margin: 20px 0 0;
    text-align: left;
    color: #AC3B61;
}

.error-little {
    font-size: 0.7em;
    margin: 5px 0 0;
    text-align: left;
    color: #AC3B61;
}

/* ERROR 403, 404, 500 */
.error-page {
    background-image: url("/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.error-page > h1 {
    color: #2B7A78;
    font-weight: bold;
    text-align: center;
    padding-top: 45%;
}

.error-page > p {
    margin: 5%;
    text-align: center;
}

.error-page a {
    color: #2B7A78;
    text-decoration: underline;
}

.error-page-img {
    width: 100%;
}

/* RESPONSIVE RESIZE (IPAD) */
@media screen and (min-width: 600px) {
    .error-little {
        font-size: 1em;
    }

    .error-page > h1 {
        font-size: 5em;
        padding-top: 17%;
    }

    .error-page > p {
        padding: 0 12%;
        font-size: 1.5em;
    }

    .error-page a {
        font-size: 1em;
    }
}

/* RESPONSIVE RESIZE (DESKTOP) */
@media screen and (min-width: 1200px) {
    .error-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .error-page > h1 {
        padding-top: 2%;
    }

    .error-page > p {
        margin: 0 5%;
        text-align: center;
    }

    .error-page a {
        color: #2B7A78;
        text-decoration: underline;
    }

    .error-page-img {
        width: 40%;
    }
}
