.feature{
    margin:30px 0 0 0;
}

.feature-icon>img{
    height: 70px;
}

.feature-icon{
    text-align: center;
}

.feature h3{
    font-size:24px;
    color:#17252A;
    text-align: center;
    margin: 10px;
}

.feature p{
    color: #2B7A78;
    text-align: center;
    margin: 0px 20px 25px 20px;
}